<div class="slider">
  <button type="button" class="before" (click)="before()">
    <i class="fa-solid fa-angle-left"></i>
  </button>

  <div class="slides" [ngStyle]="{ transform: getValue() }">
    <div>
      <img src="../../../../assets/images/slider2.webp" alt="SliderImage" />
      <div class="writing">
        <h2>Dominate With The Best</h2>
        <p>Custom PCs with World-Class Hardware</p>
        <button routerLink="/custom-pc">LEARN MORE</button>
      </div>
    </div>

    <div>
      <img src="../../../../assets/images/slider3.webp" alt="SliderImage" />
      <div class="writing">
        <h2>Greatness Starts Here</h2>
        <p>
          Get an incredible Cyberpunk experience on an AMD Ryzen 8000G Series
          processor without a graphics card.
        </p>
        <button routerLink="/products/category/CPUs">LEARN MORE</button>
      </div>
    </div>

    <div class="first">
      <img src="../../../../assets/images/slider1.webp" alt="SliderImage" />
      <div class="writing">
        <h2>THE BEST PREBUILT GAMING PCs WITH <br />FAST DELIVERY</h2>
        <p>
          Free 2-Day Shipping Method* <br />
          *Exclusions and restrictions may apply
        </p>
        <button routerLink="/custom-pc">SHOP NOW</button>
      </div>
    </div>

    <div class="fourth">
      <img src="../../../../assets/images/slider4.webp" alt="SliderImage" />
      <div class="writing">
        <h2>LEGENDARY GAMING DESKTOPS</h2>
        <p>Built to game with amplified performance and advanced graphics.</p>
        <button routerLink="/custom-pc">LEARN MORE</button>
      </div>
    </div>

    <div class="fifth">
      <img src="../../../../assets/images/slider5.webp" alt="SliderImage" />
      <div class="writing">
        <h2>Further With AI, Faster on RTX</h2>
        <p>Get next-level AI performance on GeForce RTX™.</p>
        <button routerLink="/products/category/GPUs">BUY NOW</button>
      </div>
    </div>

    <div>
      <img src="../../../../assets/images/slider6.webp" alt="SliderImage" />
      <div class="writing">
        <h2>Dominate With The Best</h2>
        <p>Custom PCs with World-Class Hardware</p>
        <button routerLink="/custom-pc">SHOP NOW</button>
      </div>
    </div>

    <div class="seventh">
      <img src="../../../../assets/images/slider7.webp" alt="SliderImage" />
      <div class="writing">
        <h2>play now, pay later.</h2>
        <p>
          No Credit Required. <br />
          No Late Fees. <br />
          Totally Transparent.
        </p>
        <button routerLink="/products">LEARN MORE</button>
      </div>
    </div>

    <div class="eight">
      <img src="../../../../assets/images/slider8.webp" alt="SliderImage" />
      <div class="writing">
        <h2>Game Without Compromise</h2>
        <p>Go beyond performance with Intel® Core™ processors.</p>
        <button routerLink="/products/category/CPUs">LEARN MORE</button>
      </div>
    </div>

    <div class="ninth">
      <img src="../../../../assets/images/slider9.webp" alt="SliderImage" />
      <div class="writing">
        <h2>Upgrade to Beyond Fast</h2>
        <p>
          NVIDIA® GeForce RTX® 40 Series powered systems provide the ultimate
          experience for gamers and creators.
        </p>
        <button routerLink="/products/category/GPUs">LEARN MORE</button>
      </div>
    </div>

    <div class="tenth">
      <img src="../../../../assets/images/slider10.webp" alt="SliderImage" />
      <div class="writing">
        <h2>14th Gen Intel® Core™ processors</h2>
        <p>
          Beyond performance. Stream, create, and compete at the highest levels
          with industry-leading features and the latest hybrid architecture.
        </p>
        <button routerLink="/products/category/CPUs">SHOP NOW</button>
      </div>
    </div>

    <div>
      <img src="../../../../assets/images/slider11.webp" alt="SliderImage" />
      <div class="writing">
        <h2>Dominate With The Best</h2>
        <p>Custom PCs with World-Class Hardware</p>
        <button routerLink="/custom-pc">LEARN MORE</button>
      </div>
    </div>

    <div class="twelve">
      <img src="../../../../assets/images/slider12.webp" alt="SliderImage" />
      <div class="writing">
        <h2>THE MOST ADVANCED GRAPHICS FOR GAMERS</h2>
        <p>AMD RADEON RX 7000 SERIES</p>
        <button routerLink="/products/category/GPUs">LEARN MORE</button>
      </div>
    </div>

    <div class="thirteenth">
      <img src="../../../../assets/images/slider13.webp" alt="SliderImage" />
      <div class="writing">
        <h2>Enter a new realm of gaming.</h2>
        <p>Intel® Arc™ Graphics</p>
        <button routerLink="/products/category/GPUs">LEARN MORE</button>
      </div>
    </div>
  </div>

  <button type="button" class="next" (click)="next()">
    <i class="fa-solid fa-angle-right"></i>
  </button>
  <div class="pagination">
    <span
      *ngFor="let item of paginateArray"
      [ngClass]="{ clicked: this.index === item }"
      (click)="pagination(item)"
    ></span>
  </div>
</div>
