<div class="header">
  <div class="headerz">
    <h2>Cool with no compromises.</h2>
    <p>Have it all with Hive Tech’s new desktop triple-threat.</p>
    <p>
      Achieve optimal thermal performance, minimized acoustic operation and
      maximum desk appeal in a “no compromise” package.
    </p>
    <p>
      Element Hybrid RDY systems feature the latest and greatest hand-picked
      components for the most discerning PC enthusiast.
    </p>
  </div>
  <img src="assets/images/custom-pc-header.webp" alt="Picture of PC" />
</div>
