<div>
  <div class="first">
    <h2>Why Hive Tech</h2>
    <p>
      So what sets us apart from our competitors? Aside from providing the best
      bang for your buck in today’s rollercoaster prices of PC components, Hive
      Tech prides themselves in delivering the best gaming experience from new
      gamers to seasoned pros. We utilize the latest and greatest components and
      technology from companies such as Intel, AMD, NVIDIA, Microsoft, ASUS,
      MSI, Western Digital, Samsung, and more! Continue scrolling to learn
      more...
    </p>
    <h2>What we are offering</h2>
  </div>
  <div class="second">
    <div>
      <img src="assets/images/why1.svg" alt="Headphones" />
      <div>
        <h3>We’re Here to Help</h3>
        <p>Ask away. Our customer experience team is here to help.</p>
      </div>
    </div>
    <div>
      <img src="assets/images/why2.svg" alt="Medal" />
      <div>
        <h3>Earn Points, Get Rewards</h3>
        <p>Register now to start earning Hive Tech points.</p>
      </div>
    </div>
  </div>
  <div class="third">
    <div class="truck">
      <img src="assets/images/why3.svg" alt="Free shipping" />
      <div>
        <h3>Free Shipping</h3>
        <p>All Hive Tech gaming PCs come with free shipping!</p>
      </div>
    </div>
    <div>
      <img src="assets/images/why4.svg" alt="Assembly" />
      <div>
        <h3>Assembled in Egypt</h3>
        <p>
          Every Hive Tech gaming pc and laptop that goes through our assembly
          line is professionally assembled by hand.
        </p>
      </div>
    </div>
    <div>
      <img src="assets/images/why5.svg" alt="Warranty" />
      <div>
        <h3>Standard 3 Year Warranty</h3>
        <p>
          Hive Tech desktops comes with a standard 3-year labor, 1-year parts
          warranty supported by specialized technicians.
        </p>
      </div>
    </div>
  </div>
</div>
