<div class="first">
  <img src="../../../../assets/images/color1.webp" alt="Picture of PCs" />
  <div>
    <h2>Prebuilt Gaming PC</h2>
    <p>
      Start your gaming journey with professionally designed RDY prebuilt
      systems and get Free 2-Day Shipping!
    </p>
    <button routerLink="/custom-pc">Shop Now</button>
  </div>
</div>
<div class="second">
  <div class="second">
    <h2>Easy Builder</h2>
    <p>
      Custom build the perfect gaming PC based on the games you play and we will
      ship it out in 5 business days!
    </p>
    <button routerLink="/custom-pc">Customize Now</button>
  </div>
  <img src="../../../../assets/images/color2.webp" alt="Picture of PCs" />
</div>
<div class="third">
  <img src="../../../../assets/images/color3.webp" alt="Picture of PCs" />
  <div class="third">
    <h2>Custom Gaming PCs</h2>
    <p>
      Custom built to order. Our PC builder lets you choose the components you
      need to outclass your adversaries.
    </p>
    <button routerLink="/custom-pc">Customize Now</button>
  </div>
</div>
<div class="fifth-big">
  <div class="fifth">
    <h2>Gaming Laptops</h2>
    <p>
      Browse through our full range of configured gaming laptops. Immerse
      yourself in the ultimate gaming experience on the go.
    </p>
    <button routerLink="/laptops">Shop Now</button>
    <img src="../../../../assets/images/color4.webp" alt="Picture of PCs" />
  </div>
  <div class="fifth">
    <h2>Gear Store</h2>
    <p>
      Gear up and be game ready with your favorite PC accessories, peripherals,
      Hive Tech apparel and more!
    </p>
    <button routerLink="/gear-store">Shop now</button>
    <img src="../../../../assets/images/color5.webp" alt="Picture of PCs" />
  </div>
</div>
