<footer>
  <div class="upper">
    <div class="left">
      <div>
        <h4>Sections</h4>
        <a routerLink="/Home">Home</a>
        <a routerLink="/custom-pc">Custom Desktops</a>
        <a routerLink="/products">Products</a>
        <a routerLink="/laptops">Laptops</a>
        <a routerLink="/gear-store">Gear Store</a>
      </div>
      <div>
        <h4>Product Categories</h4>
        <a routerLink="/products/category/All">All Products</a>
        <a routerLink="/products/category/CPUs">CPUs</a>
        <a routerLink="/products/category/GPUs">GPUs</a>
        <a routerLink="/products/category/CPU-coolers">CPU Coolers</a>
        <a routerLink="/products/category/motherboards">MotherBoards</a>
        <a routerLink="/products/category/cases">Cases</a>
      </div>
      <div>
        <h4>User</h4>
        <a routerLink="/sign-in">Sign In</a>
        <a routerLink="/Register">Create An Account</a>
      </div>
    </div>
    <div class="right">
      <div class="icons">
        <a href="https://www.linkedin.com/in/mohamed-hazem-dev/" target="_blank"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a href="https://github.com/Mohamed-Hazem-projects" target="_blank"
          ><i class="fa-brands fa-github"></i
        ></a>
        <a href="https://www.facebook.com/mohammed.hazem.204/" target="_blank"
          ><i class="fa-brands fa-facebook"></i
        ></a>
      </div>
      <p><b>Contact Me</b>: +20 111 774 1844</p>
    </div>
  </div>
  <div class="lower">
    <p>© 2024 Mohamed Hazem All rights reserved.</p>
  </div>
</footer>
