<div class="heading">
  <h2>Best Selling Gaming Laptops</h2>
  <h3>Intel & Ryzen</h3>
  <div class="buttons">
    <button
      type="button"
      name="last slide"
      class="before"
      (click)="before()"
      [disabled]="beforeDisabled"
    >
      <i class="fa-solid fa-angle-left"></i>
    </button>
    <button
      type="button"
      class="next"
      name="next slide"
      (click)="next()"
      [disabled]="nextDisabled"
    >
      <i class="fa-solid fa-angle-right"></i>
    </button>
  </div>
</div>
<div class="card-slider">
  <div #childSlider [ngStyle]="{ transform: getValue() }">
    <ng-container *ngFor="let card of cards">
      <laptop-card [theProduct]="card"></laptop-card>
    </ng-container>
  </div>
</div>
